{% extends 'base.html' %}
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

{% block body %}
<br>
<br>
<br>
<br>
<br>
<br><center>

  
    <div class="form-group col-md-4" style="background-color:rgb(255, 252, 232);">
        <br>
        <br>
  
      <div class="title-left">
        
          <h3>Sign In</h3>
      </div>

      
      <form method="POST">
      {% csrf_token %}
      <br>
            
              <div class="form-group col-md-7">
                
                  <input type="email" style="font-size: medium;" class="form-control" name="email" placeholder="Enter Email"> </div>
                  <br>
              <div class="form-group col-md-7">
                  
                  <input type="password" style="font-size: medium;" class="form-control" name="password" placeholder="Password"> </div>
                  
                  <a href="{% url 'signup' %}">Create New Account</a>
                  <br>
          <input type="submit" class="btn hvr-hover" value="Sign in" style="background: rgb(20, 14, 14); color: aliceblue;">
            <br>
            <br>
            
        </form>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{error}}
              </div>
            {% endif %}
  </div>
</div>
</div>
</div>
</div>
</center>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock body %}
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
